/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import "~@angular/material/_theming.scss"
@include mat-core()

$freshtv-app-primary: mat-palette($mat-blue-grey) !global
$freshtv-app-accent: mat-palette($mat-amber, A200, A100, A400)

$freshtv-app-warn: mat-palette($mat-red)

$freshtv-app-theme: mat-light-theme($freshtv-app-primary, $freshtv-app-accent, $freshtv-app-warn)

@include angular-material-theme($freshtv-app-theme)


html, body
  padding: 0
  margin: 0
  background-color: #fafafa

.material-icons
  &.md-18
    font-size: 18px
  &.md-24
    font-size: 24px
  &.md-36
    font-size: 36px
  &.md-48
    font-size: 48px


.material-icons
  &.md-dark
    color: rgba(0, 0, 0, 0.54)
    &.md-inactive
      color: rgba(0, 0, 0, 0.26)
  &.md-light
    color: rgba(255, 255, 255, 1)
    &.md-inactive
      color: rgba(255, 255, 255, 0.3)
